@model ApplicationRole
@{
    Layout = null;
}
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/favicon.png" type="">
    <title>Famms - Fashion HTML Template</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>
<div asp-validation-summary="All" class="text-danger"></div>
<form class="m-3" asp-action="GetRoleDetails" asp-controller="dashboard" method="get">
    <div class="form-group">
        <label for="exampleInputEmail1">Role Name</label>
        <input type="text" class="form-control" asp-for="Name" value="@ViewBag.Updaterole.Name" placeholder="Enter RoleName" disabled>
    </div>
    <a class="btn btn-primary" asp-controller="dashboard" asp-action="EditRole" asp-route-id="@ViewBag.UpdateRole.Id">Edit Role</a>
    <a class="btn btn-success" asp-controller="dashboard" asp-action="GetAllRoles">Back</a>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <!-- popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
</form>

